#wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 75rem; 
}

#control {
  display: flex;
  justify-content: center;
}

html, body {
  font-family: 'Mononoki Nerd Font', monospace;
}

@font-face {
    font-family: 'Mononoki Nerd Font Mono';
    src: url('../fonts/MononokiNFM-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mononoki Nerd Font Mono';
    src: url('../fonts/MononokiNFM-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mononoki Nerd Font Mono';
    src: url('../fonts/MononokiNFM-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mononoki Nerd Font Mono';
    src: url('../fonts/MononokiNFM-BoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

