#wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  max-width: 75rem; 
}

#control {
  display: flex;
  justify-content: center;
}

html, body {
  font-family: 'Mononoki Nerd Font', monospace;
}
