#home {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#projectList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#projectItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50rem;
  padding: .5rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #24292e; 
  transition: background-color 0.2s, box-shadow 0.2s;
}

#name {
  padding: 0rem;
  margin: 0px;
}

#projectItem:hover {
  background-color: #eaeaea;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#link-title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: .5rem;
  padding-top: .25rem;
  padding-bottom: 0rem;

}

#desc {
  /* STYLE THE PARA */
}

#gh-icon {
  width: 1.5rem;
  height: 1.5rem;
}
